package chat

templ inputBox() {
	<div class="h-14 m-4 rounded-full bg-gradient-to-r from-rose-600 to-rose-50">
		<div class="flex flex-row h-12 m-1 rounded-full bg-neutral-800">
			<button type="button" class="h-8 w-8 ml-2 mt-2 rounded-full bg-rose-200 hover:bg-rose-50">
                <img src="/assets/icons/plus.svg" alt="upload icon" class="h-6 w-6 ml-1 mt-0.5">
            </button>
			<input type="text" class="flex flex-grow h-8 m-2 outline-0 text-rose-50"/>
		</div>
	</div>
}
