package layout

templ Base() {
    <!DOCTYPE html>
    <html class="w-screen h-screen">
        <head>
            <link rel="stylesheet" href="/assets/app.css"/>
        </head>
        <body class="w-full h-full">
            { children... }
        </body>
    </html>
}